<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @producto.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>

<p>
  <strong>Imagen url:</strong>
  <%= @producto.imagen_url %>
</p>

<p>
  <strong>String:</strong>
  <%= @producto.string %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @producto.precio %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @producto.decimal %>
</p>

<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
